[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Asset Store Images/
AssetStoreTools/
!ToCopyInAssetsFolder/
!ToCopyInAssetsFolder.meta

/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj

sysinfo.txt
/Assets/Assembly-CSharp-Editor.pidb
/Assets/Assembly-CSharp-Editor.pidb.meta
/Assets/Assembly-CSharp-firstpass.pidb
/Assets/Assembly-CSharp-firstpass.pidb.meta
/Assets/Assembly-UnityScript-firstpass.pidb
/Assets/Assembly-UnityScript-firstpass.pidb.meta